<nav class="flex items-center p-2 w-screen h-min bg-gray-100">
	<a href="/">
		<img src="https://cdn.discordapp.com/icons/905832802279374869/38c63e36aea899ba1b7e13ace8d49ed6.webp" alt="Logo" class="h-auto w-24">
	</a>
	<ul class="m-auto">
		{% for nav in ["Avio ceļojumi","Atpūtas ceļojumi","Kruīzi"] %}
			<a href="/piedzivojums/{{ nav }}">
				<li 
					class="transition duration-100 inline-block p-2 m-3 w-80 text-3xl text-center text-black bg-transparent border-2 border-black hover:text-white hover:bg-black"
				>{{nav}}</li>
			</a>
		{% endfor %}
	</ul>
</nav>