<!DOCTYPE html>
<html lang="en">
<head>
	{% include 'modules/head.html' %}
	<title>Rezervet</title>
</head>
<body x-data="{...Object.fromEntries(new URLSearchParams(location.search))}">
	<nav class="flex items-center p-2 w-screen h-min bg-gray-100">
		<a href="/">
			<img src="https://cdn.discordapp.com/icons/905832802279374869/38c63e36aea899ba1b7e13ace8d49ed6.webp" alt="Logo" class="h-auto w-24">
		</a>
		<div class="transition duration-100 inline-block p-2 m-3 w-80 text-3xl text-center text-black bg-transparent border-2 border-black block w-full">Viesnīca ir rezervēta!</div>
		<a :href="back">
			<div class="transition duration-100 inline-block p-2 m-3 w-80 text-3xl text-center text-black bg-transparent border-2 border-black block w-max hover:text-white hover:bg-black">Atpakaļ</div>
		</a>
	</nav>
	<div class="w-9/12 h-64 m-10 block relative mx-auto shadow-black shadow-lg border-2 border-black p-2">
		<p class="text-xl">
			<b>Valsts: </b><span x-text="valsts"></span><br>
			<b>Datums: </b><span x-text="datums"></span><br>
			<b>Samaksa: </b><span x-text="await fetch(`/api/viesnicas/${valsts}/cena/${viesnica}`).then(x=>x.json()).then(x=>x[0][0])"></span> Eur
		</p>
	</div>
</body>
</html>