<!DOCTYPE html>
<html lang="en">
<head>
	{% include 'modules/head.html' %}
	<title>Ceļojums</title>
</head>
<body>
	<div class="flex justify-center items-center w-full h-screen text-center bg-red-500">
		<div class="">
			<h1 class="p-10 text-8xl font-bold">Celojumi.lv</h1>
			<h2 class="text-3xl">Lieliska iespēja apskatīt neredzētas vietas, par lieliskam cenām, izbaudot patīkamu lidojumu</h2>
			<a href="/piedzivojums">
				<button class="p-3 mt-10 text-3xl bg-white rounded-md">Sākt jaunu piedzīvojumu</button>
			</a>
		</div>
	</div>
</body>
</html>